.git
.turbo
node_modules
**/node_modules
**/dist
**/.tshy
**/.tshy-build
**/coverage
**/reports
**/*.tsbuildinfo
**/.eslintcache
.prune-identity
.prune-api-docs
.prune-e2e
.env
**/*.log
db.sqlite
db.sqlite-shm
db.sqlite-wal
repos
